<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @data_file.patient.first_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= image_tag(@data_file.name,:size=>"200x140") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @data_file.description %>
</p>

<p>
  <strong>Date added:</strong>
  <%= @data_file.created_at %>
</p>

<%= link_to 'Edit', edit_data_file_path(@data_file) %> |
<%= link_to 'Back', data_files_path %>
