		<section id="reg_section">
			<div class="box_form">
				<h2> Registration Form</h2></br>
				<%= form_for(@patient) do |f| %>
				  <% if @patient.errors.any? %>
					<div id="error_explanation">
					  <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

					  <ul>
					  <% @patient.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					  <% end %>
					  </ul>
					</div>
				  <% end %>

				  <div class="field">
					<%= f.label :cnp      %>
					<%= f.text_field :cnp, style: 'float: right;' %>
				  </div>
				  <div class="field">
					<%= f.label :first_name %>
					<%= f.text_field :first_name, style: 'float: right;' %>
				  </div>
				  <div class="field">
					<%= f.label :surname %>
					<%= f.text_field :surname, style: 'float: right;' %>
				  </div>
				  <div class="field">
					<%= f.label :gender_id %>
					<%= f.collection_select :gender_id, Gender.all, :id, :name, {} ,  {style: 'float: right;'} %>
				  </div>
				  <div class="field">
					<%= f.label :birthday %>
					<%= f.date_select :birthday, { :include_blank => true, :start_year => 1960},  {style: 'float: right;'} %>
				  </div>
				  <div class="field">
					<%= f.label :Location %>
					<%= f.collection_select :country_id, Country.all, :id, :name, {} ,  {style: 'float: right;'} %>
				  </div>
				  <div class="field">
					<%= f.label :phone %>
					<%= f.text_field :phone, style: 'float: right;' %>
				  </div>
				  <div class="field">
					<%= f.label :email %>
					<%= f.text_field :email, style: 'float: right;' %>
				  </div>
				 
				  <div class="field">
					<%= f.label :password %>
					<%= f.password_field :password, style: 'float: right;' %>
				  </div>
				  <div class="field">
					<%= f.label 'Pass Confirm' %>
					<%= f.password_field :password_confirmation, style: 'float: right;' %>
				  </div>
				 <div class="actions" align="center">
					<%= f.submit %>
				  </div>
				<% end %>

				<div align="center"><%= link_to 'Back', root_path %></div>
			</div>
		</section>